.contactus {
  padding: 10px;
  margin: 2px;
  border-bottom: 2px solid #00060b;

  min-width: 100vw;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.contactRow {
  border: 2px solid #171f38;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__info__list {
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
}

.info__item {
  color: #01d293;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  column-gap: 1rem;
}

.info__item p {
  color: #01d293;
  margin: 5px;
}

.info__item span i {
  color: #555;

  padding: 5px;
  border-radius: 5px;
}
.info__item a {
  color: #01d293; /* Set the color of anchor tags */
  text-decoration: none; /* Remove underline (optional) */
}

.info__item a:hover {
  color: #019a74; /* Optional: Change color on hover for better UX */
  text-decoration: underline; /* Optional: Add underline on hover */
}

.social__links {
  display: flex;
  margin-top: 30px;
  align-items: center;
  column-gap: 1rem;
  color: #555 !important;
  font-size: 1.3rem !important;
  cursor: pointer;
}
.formInfo {
  padding: 5px;
  margin: 5px;
  border: 2px solid #0040ff;
}

@media only screen and (max-width: 768px) {
  .social__links {
    margin-bottom: 30px;
  }
}
