.card .buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.buttons button.active {
  background: #01d293;
  color: #171f38;
}

.buttons button {
  background: #171f38;
  flex-grow: 1;
  margin: 5px;
  padding: 10px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #01d293;
}

.content {
  padding: 5px;
  margin-top: -20px;
}
