.footer {
  border: 2px solid #171f38;
  border-radius: 5px;
  overflow-x: hidden;
  padding: 5px;
  margin: 0px;
  bottom: 0; /* Positions the footer at the bottom of the viewport */
  left: 0;
  width: 100%; /* Ensures it spans the entire width of the screen */
  color: white; /* Text color */
}

.footerRow {
  padding: 5px;
  margin: 5px;
}

.nav__menu {
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  column-gap: 2.8rem;
}

.nav__menu a {
  color: #01d293;
  font-weight: 500;

  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}

.nav__menu a:hover {
  color: #808dad;
}

.nav__menu a:first-child {
  color: #808dad;
}

.footer__copyright {
  border-top: 1px solid #808dad49;
}

.footer__copyright p {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  .footer__top {
    display: none;
  }
}
