.videoContainer {
  width: 600px; /* Fixed width */
  height: 400px; /* Fixed height */
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid #171f38;
  border-radius: 8px; /* Optional rounded corners */
}
