@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  background: #0e1630;
}

p {
  color: whitesmoke;
  line-height: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #01d293;
}

h2 {
  font-size: 2.5rem !important;
}

section {
  padding-top: 150px;
}

footer {
  padding-bottom: 10px;
  padding-top: 60px;
  border-top: 1px solid #171f38;
}

.primary__btn {
  background: black !important;
  padding: 7px 25px !important;
  border: 1px solid #01d293 !important;
  border-radius: 5px;
}

.primary__btn a {
  text-decoration: none;
  color: #01d293;
  background: transparent !important;
}

.secondary__btn {
  background: #171f38 !important;
  padding: 7px 25px !important;
  margin-left: 80px;
  border: 1px solid #01d293 !important;
  border-radius: 5px;
}

.secondary__btn a {
  color: #01d293 !important;
}
.primary__btn :hover,
.secondary__btn :hover {
  background: #072997;
}

::-webkit-scrollbar {
  width: 10px;
  background: #808dad;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: #171f38;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  p {
    font-size: 0.9rem !important;
  }

  .primary__btn a,
  .secondary__btn a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding-top: 110px;
  }

  footer {
    padding-top: 0;
    border: none;
  }
}
