.teamprofile {
  padding: 10px;
  margin: 2px;
  border-bottom: 2px solid #00060b;
  min-width: 100vw;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 2px;
}
