.projectprofile {
  padding: 10px;
  margin: 2px;
  overflow-x: hidden;
  border-bottom: 2px solid #00060b;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 2px;
}
.card .buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profileCard {
  border: 2px solid #171f38;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border-bottom: 2px solid #00060b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileRow {
  padding: 5px;
  margin: 5px;
}
.portrait {
  height: 200px;
  border-radius: 4px;
  margin-right: 5px;
  width: 200px;
}

/* 
.email {
	color: blue;
}

.address {
	color: whitesmoke;
	font-size: 16px;
	margin-bottom: 20px;
}

.specialization {
	color: purple;
} */
.buttons button.active {
  background: #01d293;
  color: #171f38;
}

.buttons button {
  background: #171f38;
  flex-grow: 1;
  margin: 5px;
  padding: 10px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #01d293;
}

/* .buttons .overview {
	background-color: black;
}

.buttons .publication {
	background-color: #3498db;
}

.buttons .grants {
	background-color: #e74c3c;
}

.buttons .supervision {
	background-color: #2ecc71;
} */
